html {
    scroll-behavior: smooth;
}

.news-container{
    margin-bottom: 5rem;
    padding: 1rem;
}

.heading {
    font-family: 'Poppins', sans-serif;
}

.card-name{
    font-family: 'Righteous', cursive;
}