html {
    scroll-behavior: smooth;
}

.news-container{
    margin-bottom: 5rem;
    padding: 1rem;
}

.heading {
    font-family: 'Poppins', sans-serif;
}

.card-name{
    font-family: 'Righteous', cursive;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}